<%= form_for(@acl) do |f| %>
  <% if @acl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acl.errors.count, "error") %> prohibited this acl from being saved:</h2>

      <ul>
      <% @acl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
    <%= check_box_tag 'action_check' %>
  </div>
  <div class="field">
    <%= f.label :controller %><br>
    <%= f.text_field :controller %>
    <%= check_box_tag 'controller_check' %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.collection_select :role_id, Role.all, :id, :nombre, prompt: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
